/* General setup */

* {
    box-sizing: border-box;
}

html {
    font-size:16px;
}

body {
    margin: 1.5rem auto;
    width:90%;
    min-width:56.25rem;
}

/* Layout */

main {
    overflow:auto;
    min-width:45rem;
    
}

section {
    float: left;
    min-width: 22.5rem;
    width:50%;
}

figure {
    width:60%;
    margin:0 10% 0 0;
    float:left;
}

figure img {
    width:100%;
    max-width:25rem;
}

figcaption {
    margin:.375rem 0;
}

.long-list {
    margin-top:0;
}

nav {
    float: left;
    width:11.25rem;
}

footer {
    clear: both;
    margin-top:1.5rem;
}

section, aside, nav, footer {
  padding: .5rem;
}

/* header and footer */

header, footer {
  border-top: .125rem solid #33658A;
  border-bottom: .125rem solid #33658A;
}

/* ------ START WRITING YOUR CODE BELOW THIS LINE ------ */

/* NO changes should be made to any of the code above. */

/* NOTE: While you will be using some of the same CSS properties, the VALUES 
   may need to be different in order to style the page correctly. */



/* Imported Typfaces */
/*imported typefaces
Two (2) typeface files should be imported using @font-face to style the page.*/

@font-face {
    font-family:montserrat;
    src: url(../fonts/montserrat-regular.ttf) format('truetype');
    font-weight:normal;
    font-style:normal;}
@font-face {
    font-family:Josefinslab;
    src: url(../fonts/josefinslab-regular.ttf) format('truetype');
    font-weight:normal;
    font-style:normal;}


/* Typography Styles */
/*typography
Typography styling should be applied to the root element and figcaption, as well as all headings, paragraphs, and listed items. Some additional styling will be applied to all paragraphs that only display immediately after a level 2 heading.*/


html {font-family: Montserrat, sans-serif;}
h1 + h2 + h3 {font-family: Josefinslab, serif;
    letter-spacing: 0.125rem;}
h1{font-size: 3.75rem;
    text-align: center;
    margin: 1.125rem;}
h2{font-size: 1.5rem;}
p + li {font-size: 0.75rem;
word-spacing: 0.125rem;}
h2.p{text-indent:1.5rem}
li {}
figcaption {}




/* Link Styling */
/*links
Link styling will be applied that targets all links on the page, as well as the link states link, visited, focus, and hover.*/

a {outline: none;
    text-decoration: none;
    padding: 2px 1px 0;}

a:link {color: #265301;}
a:visited {color: #437A16;}

a:focus { border-bottom: 1px solid;
    background: #BAE498;}
a:hover {  border-bottom: 1px solid;
    background: #CDFEAA;}





/* List Styling */
/*lists
All ordered and unordered lists will be targeted with styling, as well as well as the hover state of a class called long-list.*/

ul {}
ol {}
/long-list a: hover{}




/* Navigation Menu */
/*nav
To create the navigation menu, the navigation container should be styled, as well as the links within that container. The focus, hover, and active states of those links will also receive styling.*/

nav {}
nav a{}

nav a:focus,
nav a:hover {}

nav a:active {}





/* Footer Styles */
/*footer
The last item to receive styling will be the footer of the page*/

footer {}




