/* TO GET AN IDEA OF THE CSS YOU WILL LIKELY BE USING, SEE THE LISTS BELOW. */

        /* 
        
        Spacing 

            - padding (shorthand and/or specific properties like padding-bottom, etc.)

            - margin, (shorthand and/or specific properties like margin-top, etc.)

            - letter-spacing, word-spacing, line-height

            - width, max-width, min-width
            - height, max-height, min-height

        Typography 

            - font-family, font-size, font-style, font-weight

            - text-decoration, text-align

            - color

            - text-shadow, text-transform

        Box, Layout and Border 

            - border (shorthand and/or specific properties like border-top, border-bottom-radius, border-width, etc.)

            - box-shadow

            - display, float, align-items, align-content

            - grid-template-columns, grid-column-gap

            - transform

        Other

            - :nth()-child (to target specific child elements)

            - :focus, :hover, :active (to target link states)

            - @font-face or @import (to import typefaces)

        */


/* ------ START WRITING YOUR CODE BELOW ------ */


html {
    font-size:1rem;
}

/* header and footer */

header, footer {
  border-top: .125rem solid black;
  border-bottom: .125rem solid black;
}
/* work from here on down */



html {font-family: Montserrat, Arial, sans-serif;}
figcaption {font-size: .75rem;
margin-bottom: 2rem;}

a {outline: none;}

a:link, a:visited {color:#33658A;}
a:focus, a:hover {text-decoration: none;}

a:focus { border-bottom: 1px solid;
    background: #BAE498;}
a:hover {  border-bottom: 1px solid;
    background: #CDFEAA;}






nav {
    max-width: 100%;
    border: 0.05rem solid black;
    border-left: none;
    border-right: none;
    border-color: black;
    min-height: 4.5rem;
}

nav > ul {
    list-style-type: none;
    margin: 0;
    padding-top: 0.5rem;
    padding-left: 2rem;
  }

nav > ul > li {
    float: left;
    max-width: 5rem;
    padding: 1rem 3rem 1rem 1rem;}

nav > ul > li > a {
    float: left;
    font-size: 1.4rem;
    font-weight: 600;
    color: #276AAB;}

nav > ul > li > a:link {
    color: #276AAB;
    text-decoration: none;}

nav > ul > li > a:visited {
    color: #276AAB;
    text-decoration: none;}

nav > ul > li > a:hover {
    color: black;
    text-transform: uppercase;
    transform: rotate(-5deg);
    text-decoration:line-through;
Background: none;}

nav > ul > li > a:active {
    color: #276AAB;
    text-decoration: none;}

/* Footer Styles */
/*footer
The last item to receive styling will be the footer of the page*/

footer {text-align: center;}